<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    {{ bootstrap.load_css() }}
    <style>
        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{url_for('homepage')}}" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-postcard" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0zM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5M10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM13 8h-2V6h2z"/></svg>
                </a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 nav-pills px-2">
                    <li><a href="{{url_for('homepage')}}" class="nav-link px-2 link-body-emphasis {{active0}}">Career Post</a></li>
                    <li><a href="{{url_for('posts')}}" class="nav-link px-2 link-body-emphasis {{active1}}">Latest Posts</a></li>
                    {%if not logged_in%}
                        <li><a href="{{url_for('login')}}" class="nav-link px-2 link-body-emphasis {{active2}}">Login</a></li>
                        <li><a href="{{url_for('register')}}" class="nav-link px-2 link-body-emphasis {{active3}}">Register</a></li>
                    {%endif%}
                </ul>
    
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
    
                {%if logged_in%}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.email|gravatar}}" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="{{url_for('create_post')}}">New Post</a></li>
                            <li><a class="dropdown-item" href="{{url_for('about', email=user.email)}}">About Page</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{url_for('logout')}}">Sign out</a></li>
                        </ul>
                    </div>
                {%endif%}
            </div>
        </div>
    </header>

    {%block content%}
        {%block post_latest%}
            {%set count_target=count_target%}
            {%set count=0%}
            {%for post in posts if count < count_target%}
                <a href="{{url_for('view_post', id=post.id)}}">
                    <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{post.img_url}}); background-repeat: no-repeat; background-position: center; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-body-emphasis">{{post.title}}</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                            <img src="{{post.author.email|gravatar}}" alt="Profile Picture" width="32" height="32" class="rounded-circle border border-white">
                            <a href="{{url_for('about', email=post.author.email)}}"><small class="mx-2">{{post.author.name}}</small></a>
                            </li>
                            <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>{{post.date}}</small>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </a>
                {%set count=count+1%}
            {%endfor%}
        {%endblock%}

        {%block post_unavailable%}
            <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color: black;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">No Posts Available</h3>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                    <small>There are Currently No Posts Available</small>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        {%endblock%}
    {%endblock%}
    
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-body-secondary">© {{year}} Career Post</p>
      
          <a href="{{url_for('homepage')}}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-postcard" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0zM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5M10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM13 8h-2V6h2z"/></svg>
          </a>
      
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 nav-pills px-2">
            <li><a href="{{url_for('homepage')}}" class="nav-link px-2 link-body-emphasis">Career Post</a></li>
            <li><a href="{{url_for('posts')}}" class="nav-link px-2 link-body-emphasis">Latest Posts</a></li>
          </ul>
        </footer>
    </div>

    {{ bootstrap.load_js() }}
</body>
</html>