{%extends "base.html"%}

{%block content%}
    <form action="{{url_for('confirm', target=target)}}" method="post">
        <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalChoice">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0">Are you sure?</h5>
                    <p class="mb-0">You're choice now will be remembered.</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end" name="delete" value="delete"><strong>Delete</strong></button>
                    <button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal" name="cancel" value="delete">Cancel</button>
                </div>
                </div>
            </div>
        </div>
    </form>
{%endblock%}