{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}

{%block content%}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">{{title}}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">The All in One Service for All your Hiring Needs</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {%if logged_in%}
            <a href="{{url_for('create_post')}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create A New Post!</button></a>
            <a href="{{url_for('about', email=user.email)}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">View Your About!</button></a>
            {%else%}
              <a href="#pricing-plan" target="_parent"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Register Now!</button></a>
              <a href="{{url_for('login')}}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Log in</button></a>
            {%endif%}
            </div>
        </div>
    </div>

    <div class="container px-4 py-5">
        <a href="{{url_for('posts')}}"><h2 class="pb-2 border-bottom text-body-emphasis">Latest Posts</h2></a>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          {%if posts%}
            {%block post_latest%}
              {{ super() }}
            {%endblock%}
          {%else%}
            {%block post_unavailable%}
              {{ super() }}
            {%endblock%}
          {%endif%}
        </div>
    </div>

    <div class="container" id="pricing-plan">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
        <p class="fs-5 text-body-secondary">Get Set Up Quickly and Efficently for a Little Extra</p>
      </div>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>1 Post Per Day</li>
                <li>No Comments</li>
                <li>About Me Page</li>
              </ul>
              <a href="{{url_for('register')}}"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Unlimited Posts</li>
                <li>Comments Enabled</li>
                <li>Inbuilt Contact Feature</li>
              </ul>
              <a href="{{url_for('register', premium=True)}}"><button type="button" class="w-100 btn btn-lg btn-primary">Get started</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Donate</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Unlimited Posts</li>
                <li>Comments Enabled</li>
                <li>Inbuilt Contact Feature</li>
              </ul>
              <a href="{{url_for('register', premium=True)}}"><button type="button" class="w-100 btn btn-lg btn-primary">Donate to Us</button></a>
            </div>
          </div>
        </div>
      </div>
  </div>
{%endblock%}