{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}

{%block content%}
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">{{title}}</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {%if posts%}
            {%block post_latest%}
              {{ super() }}
            {%endblock%}
          {%else%}
            {%block post_unavailable%}
              {{ super() }}
            {%endblock%}
          {%endif%}
        </div>
    </div>
    {%if logged_in%}
        <div class="text-center">
            <div class="col-lg-6 mx-auto">
                <a href="{{url_for('create_post')}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create New Post</button></a>
            </div>
        </div>
    {%endif%}
{%endblock%}