{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}

{%block content%}
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Latest Posts</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {%if posts%}
            {%set count=0%}
            {%for post in posts if count < 20%}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{post.img_url}});">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{post.title}}</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="d-flex align-items-center me-3">
                        <img src="{{post.author.email|gravatar}}" alt="Profile Picture" width="32" height="32" class="rounded-circle border border-white">
                        <small class="mx-2">{{post.author.name}}</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                        <small>{{post.date}}</small>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            {%set count=count+1%}
            {%endfor%}
        {%else%}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color: black;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Unable to Reach Database</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                                <small>Unfortunately, We are Unable to Retrieve any of the Latest Posts from Our Database. Please Try Again Later</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {%endif%}
        </div>
    </div>
    {%for admin in admins%}
        {%if user.email == admin%}
            <div class="text-center">
                <div class="col-lg-6 mx-auto">
                    <a href="{{url_for('create_post')}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create New Post</button></a>
                </div>
            </div>
        {%endif%}
    {%endfor%}
{%endblock%}