{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}

{%block content%}
    <div class="text-center">
      <div class="col-lg-4 mx-auto">
          {%if title == name%}
            {%for admin in admins%}
              {%if user.email == admin.email%}
                <a href="{{url_for('make_admin', email=email)}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mx-2">Make Admin</button></a>
                <a href="{{url_for('make_premium', email=email)}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mx-2">Make Premium</button></a>
              {%endif%}
            {%endfor%}
            <a href="{{url_for('delete_account', email=email)}}"><button type="button" class="btn btn-danger btn-lg px-4 gap-3 mx-2">Delete Account</button></a>
          {%else%}
            {%if user.email == email%}
              <a href="{{url_for('delete_post', email=email, id=id)}}"><button type="button" class="btn btn-danger btn-lg px-4 gap-3 mx-2">Delete Post</button></a>
            {%endif%}
          {%endif%}
      </div>
    </div>

    <div class="px-4 py-5 my-5 text-center" style="background-image: url({{image}}); background-repeat: no-repeat; background-position: center; background-size: cover;">
        <img class="d-block mx-auto mb-4" src="{{email|gravatar}}" alt="" width="72" height="72">
        <h1 class="display-5 fw-bold text-body-emphasis">{{title}}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
              {{subtitle}}
              <br>
              By 
              <a href="{{url_for('about', email=email)}}" style="text-decoration: underline;">{{name}}</a>
            </p>
        </div>
    </div>

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <p class="col-lg-8 mx-auto fs-5 text-muted">{{text|safe}}</p>
        </div>
    </div>

    {%if user.email == email%}
        <div class="text-center">
            <div class="col-lg-6 mx-auto">
                <a href="{{edit_url}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Edit</button></a>
            </div>
        </div>
    {%endif%}

    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">Posts by {{name}}</h2>

      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          {%if posts%}
          {%block post_latest%}
            {{ super() }}
          {%endblock%}
        {%else%}
          {%block post_unavailable%}
            {{ super() }}
          {%endblock%}
        {%endif%}
      </div>
  </div>
{%endblock%}