{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}

{%block content%}
    <div class="text-center">
      <div class="col-lg-4 mx-auto">
        {%if email_sent%}
          <h2 class="mb-4 pb-2 border-bottom text-body-emphasis">Email Successfully Sent</h2>
        {%endif%}
          {%if title == name%}
            {%if user.admin%}
              <a href="{{url_for('make_admin', email=email)}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mx-2">Make Admin</button></a>
              <a href="{{url_for('make_premium', email=email)}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mx-2">Make Premium</button></a>
            {%endif%}
            <a href="{{url_for('delete_account', email=email)}}"><button type="button" class="btn btn-danger btn-lg px-4 gap-3 mx-2">Delete Account</button></a>
          {%else%}
            {%if user.email == email%}
              <a href="{{url_for('delete_post', email=email, id=id)}}"><button type="button" class="btn btn-danger btn-lg px-4 gap-3 mx-2">Delete Post</button></a>
            {%endif%}
          {%endif%}
      </div>
    </div>

    <div class="px-4 py-5 my-5 text-center" style="background-image: url({{image}}); background-repeat: no-repeat; background-position: center; background-size: cover;">
        <img class="d-block mx-auto mb-4" src="{{email|gravatar}}" alt="" width="72" height="72">
        <h1 class="display-5 fw-bold text-body-emphasis">{{title}}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
              {{subtitle}}
              <br>
              By 
              <a href="{{url_for('about', email=email)}}" style="text-decoration: underline;">{{name}}</a>
            </p>
        </div>
    </div>

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <p class="col-lg-8 mx-auto fs-5 text-muted">{{text|safe}}</p>
        </div>
    </div>

    {%if user.email == email%}
        <div class="text-center">
            <div class="col-lg-6 mx-auto">
                <a href="{{edit_url}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Edit</button></a>
            </div>
        </div>
    {%endif%}

    <div class="container px-4">
      <h2 class="pb-2 border-bottom">Posts by {{name}}</h2>

      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          {%if posts%}
          {%block post_latest%}
            {{ super() }}
          {%endblock%}
        {%else%}
          {%block post_unavailable%}
            {{ super() }}
          {%endblock%}
        {%endif%}
      </div>
  </div>

  <div class="container px-4">
    <div class="text-center">
      {%if author.premium%}

        {%if title == name%}
          {%block form%}
            <div class="px-4 text-center">
              <h1 class="display-5 fw-bold text-body-emphasis">Contact {{name}}</h1>
              <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">Form Service</p>
              </div>
            </div>

            {{ super() }}
          {%endblock%}

        {%else%}

          <div class="comment">
            {{ ckeditor.config(name='comment') }}
            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            
            <ul class="commentList">
              {%for comment in post.comments%}
                <li class="mt-5">
                  <div class="commenterImage">
                    <img src="{{comment.author.email|gravatar}}">
                  </div>
                  <div class="commentText">
                    <p>{{comment.text|safe}}</p>
                    <span class="date sub-text">{{comment.author.name}}</span>
                  </div>
                </li>
              {%endfor%}
            </ul>
          </div>

        {%endif%}
      
      {%endif%}
    </div>
  </div>
{%endblock%}